.photo {
  margin: 25px 0;
  border-radius: 50%;
  width: 289px;
  height: 260px;
  box-shadow: -15px -5px 0px #F8009E;
}

.center-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

